# ROS2 workspace ignore build, install, log
build/
install/
log/
matlab_msg_gen/
local_rosbags/

.DS_Store

# large image directories from camera cal
captures/
results/

# Other files to ignore
__pycache__/
core.*
*.pyc
*.avi
*.asv
.vscode
.DS_Store
matlab_msg_gen/
